 body {
      height: 100vh;
      margin: 0;
      background-size: cover;
      background-position: center;
      transition: background-image 1s ease-in-out; 
    }

.navbar{
    background-color: transparent !important;
}

.header__search-trending{
  display: none;
}
